<% include partials/header %>

<div class="ui middle aligned center aligned grid" id="registration-page">
  <div class="column">
    <h1 class="ui red header">
        Log-in to your account
    </h1>
    <br>
    <form class="ui large form segment" action="/login" method="POST" id="registration-form">
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <input type="text" name="username" placeholder="Username">
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input type="password" name="password" placeholder="Password">
        </div>
      </div>
      <div class="ui fluid large red submit button">Log In</div>
      <div class="ui error message"></div>
    </form>

    <div class="ui message">
      New to us? <a href="/register">Sign Up</a>
    </div>
  </div>
</div>

<script src="/scripts/login.js"></script>

<% include partials/footer %>