<% include ../partials/header %>

<div class="ui four column centered grid">
  <div class="centered row">
    <h1>Add New Shop</h1>
  </div>
  <div class="row">
    <div class="column">
      <form class="ui form" action="/shops" method="post">
        <div class="field">
          <label for="name">Name</label>
          <input type="text" name="shop[name]" id="name" placeholder="Name" required>
        </div>
        <div class="field">
          <label for="description">Description</label>
          <textarea type="text" name="shop[description]" id="description" placeholder="Description" rows="3" required></textarea>
        </div>
        <div class="field">
          <label for="address">Address</label>
          <input type="text" name="shop[address]" id="address" placeholder="Address">
        </div>
        <div class="field">
          <label for="image">Image link</label>
          <input type="text" name="shop[image]" id="image" placeholder="Image Link" required>
        </div>
        <button class="ui button">Submit</button>
      </form>
    </div>
  </div>
</div>

<% include ../partials/footer %>